<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <form>
    <label for="email">E-mail</label>
    <input type="text" name="email" id="email">
    <label for="password">Password</label>
    <input type="text" name="password" id="password">
    <button type="submit">Validate</button>
  </form>
  
  <script>
    const form = document.querySelector("form")
    const emailInput = document.getElementById("email")
    const passwordInput = document.getElementById("password")
    form.addEventListener("submit", async event => {
      event.preventDefault();
      const email = emailInput.value;
      const password = passwordInput.value;
      console.log(email, password)
      const credentials = {email, password}
      let response = await fetch(`http://localhost:3000/auth`, {
        method: "POST",
        headers: {
          "content-type": "application/json"
        },
        body: JSON.stringify(credentials)
      })
      const data = await response.json()
      if (data.connected) {
        window.location.href = "/"
      }
    })
  </script>
</body>
</html>